!include conf/osx/mariadb-include.conf

# mysqld_multi boot common, mysqld single boot
# for all OS
[mysqld]

# http://moznion.hatenadiary.com/entry/2015/04/13/005641
# "MySQL の lower_case_table_names について,テーブル名とデータベース名の中の大文字小文字について"
# http://dev.mysql.com/doc/refman/5.6/ja/server-system-variables.html#sysvar_lower_case_table_names
# "5.1.4 サーバーシステム変数"
lower-case-table-names = 1
